In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings

In [2]:
df_member = pd.read_csv('../0.Data/Members.csv')

In [3]:
df_member.dtypes

MemberID            int64
AgeAtFirstClaim    object
Sex                object
dtype: object

In [4]:
df_member.head()

   MemberID AgeAtFirstClaim Sex
0  14723353           70-79   M
1  75706636           70-79   M
2  17320609           70-79   M
3  69690888           40-49   M
4  33004608             0-9   M

In [5]:
#Count missing data
def count_missing(df):   
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_data  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    print(missing_data.head(20))
    return missing_data

count_missing(df_member)

                 Total   Percent
Sex              17552  0.155327
AgeAtFirstClaim   5753  0.050912
MemberID             0  0.000000

                 Total   Percent
Sex              17552  0.155327
AgeAtFirstClaim   5753  0.050912
MemberID             0  0.000000

In [6]:
# One-Hot to Male, Female and MissSex
df_member['Male'] = 0
df_member['Female'] = 0
df_member['MissSex'] = 0
df_member.loc[df_member.Sex == 'M', 'Male'] = 1
df_member.loc[df_member.Sex == 'F', 'Female'] = 1
df_member.loc[df_member.Sex.isna(), 'MissSex'] = 1
df_member.drop(columns=['Sex'], inplace=True)

# Replace Age with mean
df_member['MissAge'] = 0
df_member.loc[df_member.AgeAtFirstClaim == '0-9', 'AgeAtFirstClaim'] = 5
df_member.loc[df_member.AgeAtFirstClaim == '10-19', 'AgeAtFirstClaim'] = 15
df_member.loc[df_member.AgeAtFirstClaim == '20-29', 'AgeAtFirstClaim'] = 25
df_member.loc[df_member.AgeAtFirstClaim == '30-39', 'AgeAtFirstClaim'] = 35
df_member.loc[df_member.AgeAtFirstClaim == '40-49', 'AgeAtFirstClaim'] = 45
df_member.loc[df_member.AgeAtFirstClaim == '50-59', 'AgeAtFirstClaim'] = 55
df_member.loc[df_member.AgeAtFirstClaim == '60-69', 'AgeAtFirstClaim'] = 65
df_member.loc[df_member.AgeAtFirstClaim == '70-79', 'AgeAtFirstClaim'] = 75
df_member.loc[df_member.AgeAtFirstClaim == '80+', 'AgeAtFirstClaim'] = 80
df_member.loc[df_member.AgeAtFirstClaim.isna(), 'AgeAtFirstClaim'] = 45 # Average
df_member.loc[df_member.AgeAtFirstClaim.isna(), 'MissAge'] = 1

# Save to CSV file
df_member.to_csv(path_or_buf='New Data/df_members_new.csv', index=False)

In [7]:
df_member.describe

<bound method NDFrame.describe of         MemberID AgeAtFirstClaim  Male  Female  MissSex  MissAge
0       14723353              75     1       0        0        0
1       75706636              75     1       0        0        0
2       17320609              75     1       0        0        0
3       69690888              45     1       0        0        0
4       33004608               5     1       0        0        0
...          ...             ...   ...     ...      ...      ...
112995  99711514              45     0       1        0        0
112996  31690877              55     0       1        0        0
112997   9519985              35     0       1        0        0
112998  92806272              55     0       1        0        0
112999  81827173              45     0       1        0        0

[113000 rows x 6 columns]>

In [8]:
df_member.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113000 entries, 0 to 112999
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   MemberID         113000 non-null  int64
 1   AgeAtFirstClaim  113000 non-null  object
 2   Male             113000 non-null  int64
 3   Female           113000 non-null  int64
 4   MissSex          113000 non-null  int64
 5   MissAge          113000 non-null  int64
dtypes: int64(5), object(1)
memory usage: 5.2+ MB