In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings

In [2]:
df_drug = pd.read_csv('../0.data/DrugCount.csv')

In [3]:
df_drug.head()

   MemberID Year          DSFS DrugCount
0  48925661   Y2   9-10 months        7+
1  90764620   Y3   8- 9 months         3
2  61221204   Y1   2- 3 months         1
3  63628544   Y3   1- 2 months         1
4  46949606   Y2  10-11 months         3

In [4]:
#Count missing data
def count_missing(df):   
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_data  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    print(missing_data.head(20))
    return missing_data

count_missing(df_drug)

           Total  Percent
DrugCount      0      0.0
DSFS           0      0.0
Year           0      0.0
MemberID       0      0.0

           Total  Percent
DrugCount      0      0.0
DSFS           0      0.0
Year           0      0.0
MemberID       0      0.0

In [5]:
def edit_str(str):
    return int(str.split("-")[0])+1

In [6]:
def edit_count(str):
    str = str.replace("+","")
    return int(str)

In [7]:
df_drug["DSFS"] = df_drug["DSFS"].apply(edit_str)
df_drug["DrugCount"] = df_drug["DrugCount"].apply(edit_count)

In [8]:
df_drug.dtypes

MemberID      int64
Year         object
DSFS          int64
DrugCount     int64
dtype: object

In [9]:
df_group_drug = df_drug.groupby(['Year','MemberID'])

df_new_drug = df_group_drug.agg({'DrugCount': ['sum','max','min','mean','count','std']}).reset_index()

df_new_drug.head()

  Year MemberID DrugCount
                      sum max min      mean count       std
0   Y1      210         5   2   1  1.666667     3  0.577350
1   Y1     3197         5   2   1  1.250000     4  0.500000
2   Y1     3889        30   5   2  3.000000    10  0.816497
3   Y1     4187        61   7   3  6.100000    10  1.449138
4   Y1     9063         2   1   1  1.000000     2  0.000000

In [10]:
df_new_drug.columns = ['Year', 'MemberID', 'DrugCount_total', 'DrugCount_max','DrugCount_min','DrugCount_ave','DrugCount_months','DrugCount_std']
df_new_drug.head()

,Year,MemberID,DrugCount_total,DrugCount_max,DrugCount_min,DrugCount_ave,DrugCount_months,DrugCount_std
0,Y1,210,5,2,1,1.666667,3,0.577350
1,Y1,3197,5,2,1,1.250000,4,0.500000
2,Y1,3889,30,5,2,3.000000,10,0.816497
3,Y1,4187,61,7,3,6.100000,10,1.449138
4,Y1,9063,2,1,1,1.000000,2,0.000000

In [11]:
count_missing(df_new_drug)

                  Total   Percent
DrugCount_std     26195  0.185031
DrugCount_months      0  0.000000
DrugCount_ave         0  0.000000
DrugCount_min         0  0.000000
DrugCount_max         0  0.000000
DrugCount_total       0  0.000000
MemberID              0  0.000000
Year                  0  0.000000

                  Total   Percent
DrugCount_std     26195  0.185031
DrugCount_months      0  0.000000
DrugCount_ave         0  0.000000
DrugCount_min         0  0.000000
DrugCount_max         0  0.000000
DrugCount_total       0  0.000000
MemberID              0  0.000000
Year                  0  0.000000

In [12]:
df_new_drug['DrugCount_std'].fillna(-1, inplace=True)

In [13]:
count_missing(df_new_drug)

                  Total  Percent
DrugCount_std         0      0.0
DrugCount_months      0      0.0
DrugCount_ave         0      0.0
DrugCount_min         0      0.0
DrugCount_max         0      0.0
DrugCount_total       0      0.0
MemberID              0      0.0
Year                  0      0.0

                  Total  Percent
DrugCount_std         0      0.0
DrugCount_months      0      0.0
DrugCount_ave         0      0.0
DrugCount_min         0      0.0
DrugCount_max         0      0.0
DrugCount_total       0      0.0
MemberID              0      0.0
Year                  0      0.0

In [14]:
df_new_drug.to_csv("new data/df_drugs_new.csv", index=False)