In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings

In [2]:
df_lab = pd.read_csv('../0.data/LabCount.csv')

In [3]:
df_lab.head()

   MemberID Year         DSFS LabCount
0  69258001   Y3  2- 3 months        1
1  10143167   Y1   0- 1 month        2
2   1054357   Y1   0- 1 month        6
3  56583841   Y3  6- 7 months        4
4  70967047   Y2   0- 1 month        2

In [4]:
#Count missing data
def count_missing(df):   
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_data  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    print(missing_data.head(20))
    return missing_data

count_missing(df_lab)

          Total  Percent
LabCount      0      0.0
DSFS          0      0.0
Year          0      0.0
MemberID      0      0.0

          Total  Percent
LabCount      0      0.0
DSFS          0      0.0
Year          0      0.0
MemberID      0      0.0

In [5]:
def edit_str(str):
    return int(str.split("-")[0])+1

In [6]:
def edit_count(str):
    str = str.replace("+","")
    return int(str)

In [7]:
df_lab["DSFS"] = df_lab["DSFS"].apply(edit_str)

In [8]:
df_lab["LabCount"] = df_lab["LabCount"].apply(edit_count)

In [9]:
df_lab.head()

   MemberID Year  DSFS  LabCount
0  69258001   Y3     3         1
1  10143167   Y1     1         2
2   1054357   Y1     1         6
3  56583841   Y3     7         4
4  70967047   Y2     1         2

In [10]:
df_lab.dtypes

MemberID     int64
Year        object
DSFS         int64
LabCount     int64
dtype: object

In [11]:
df_group_lab = df_lab.groupby(['Year','MemberID'])
df_new_lab = df_group_lab.agg({'LabCount': ['sum','max','min','mean','count','std']}).reset_index()
df_new_lab.head()

  Year MemberID LabCount
                     sum max min  mean count std
0   Y1      210        2   2   2   2.0     1 NaN
1   Y1     3889       10  10  10  10.0     1 NaN
2   Y1    11951        3   3   3   3.0     1 NaN
3   Y1    14661        2   2   2   2.0     1 NaN
4   Y1    14778        2   2   2   2.0     1 NaN

In [12]:
df_new_lab.columns = ['Year', 'MemberID', 'LabCount_total', 'LabCount_max','LabCount_min','LabCount_ave','LabCount_months','LabCount_std']
df_new_lab.head()

,Year,MemberID,LabCount_total,LabCount_max,LabCount_min,LabCount_ave,LabCount_months,LabCount_std
0,Y1,210,2,2,2,2.0,1,NaN
1,Y1,3889,10,10,10,10.0,1,NaN
2,Y1,11951,3,3,3,3.0,1,NaN
3,Y1,14661,2,2,2,2.0,1,NaN
4,Y1,14778,2,2,2,2.0,1,NaN

In [13]:
count_missing(df_new_lab)

                 Total   Percent
LabCount_std     68931  0.444906
LabCount_months      0  0.000000
LabCount_ave         0  0.000000
LabCount_min         0  0.000000
LabCount_max         0  0.000000
LabCount_total       0  0.000000
MemberID             0  0.000000
Year                 0  0.000000

                 Total   Percent
LabCount_std     68931  0.444906
LabCount_months      0  0.000000
LabCount_ave         0  0.000000
LabCount_min         0  0.000000
LabCount_max         0  0.000000
LabCount_total       0  0.000000
MemberID             0  0.000000
Year                 0  0.000000

In [14]:
df_new_lab['LabCount_std'].fillna(-1, inplace=True)

In [15]:
count_missing(df_new_lab)

                 Total  Percent
LabCount_std         0      0.0
LabCount_months      0      0.0
LabCount_ave         0      0.0
LabCount_min         0      0.0
LabCount_max         0      0.0
LabCount_total       0      0.0
MemberID             0      0.0
Year                 0      0.0

                 Total  Percent
LabCount_std         0      0.0
LabCount_months      0      0.0
LabCount_ave         0      0.0
LabCount_min         0      0.0
LabCount_max         0      0.0
LabCount_total       0      0.0
MemberID             0      0.0
Year                 0      0.0

In [16]:
df_new_lab.to_csv("new data/df_labs_new.csv", index=False)